header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px;
  background-color: white;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}
.end {
  display: flex;
}
.end a {
  font-size: 16px;
  padding: 4px;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menubar {
  margin-right: 16px;
}
.logo a {
  display: flex;
  align-items: center;
  vertical-align: center;
}
.logo h1 {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(69, 68, 68);
  margin-bottom: 6px;
}
.icon {
  color: #2196f3;
  margin-right: 4px;
}
